.sectionForm {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.characterForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.statSection {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}
